<h1>In the accounts template</h1>
<table>
{{#each account in controller}}
<tr>
  <td class="account">{{account.name}}</td>
  <td>{{#link-to 'accounts.detail' account.id class='detail-link'}}details{{/link-to}}</td>
</tr>
{{/each}}
</table>

{{outlet}}
